.A_FirstTitle {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 160px;
  text-align: center;
}

.A_SecondTitle {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 128px;
  text-align: center;
}

.A_ArticleImageBox {
  width: 160px;
  height: 160px;

  &.orionBox {
    width: 132px;
  }

  &.aquariusBox {
    height: 94px;
  }

  .Q_ArticleStars {
    height: inherit;
    width: inherit;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;

    &.orion {
      background-image: url('./images/articles/orion.svg');
    }

    &.big_dog {
      background-image: url('./images/articles/big_dog.svg');
    }

    &.small_dog {
      background-image: url('./images/articles/small_dog.svg');
    }

    &.lira {
      background-image: url('./images/articles/lira.svg');
    }

    &.swan {
      background-image: url('./images/articles/swan.svg');
    }

    &.capricorn {
      background-image: url('./images/articles/capricorn.svg');
    }

    &.libra {
      background-image: url('./images/articles/libra.svg');
    }

    &.lion {
      background-image: url('./images/articles/lion.svg');
    }

    &.aquarius {
      background-image: url('./images/articles/aquarius.svg');
    }

    &.pisces {
      background-image: url('./images/articles/pisces.svg');
    }

    &.virgin {
      background-image: url('./images/articles/virgin.svg');
    }

    &.keel {
      background-image: url('./images/articles/keel.svg');
    }

    &.feed {
      background-image: url('./images/articles/feed.svg');
    }

    &.sail {
      background-image: url('./images/articles/sail.svg');
    }

    &.north_crown {
      background-image: url('./images/articles/north_crown.svg');
    }
  }
}

.A_ArticleLead,
.A_ArticleContent,
.A_ArticleInfoContent,
.A_BigLead {
  line-height: normal;
}

.A_ArticleContent {
  width: 622px;
  font-size: 24px;

  &.betony::first-letter {
    font-size: 0px;
  }
}

.A_ArticleInfoContent {
  width: 622px;
  margin-bottom: 40px;
  margin-left: 124px;
  font-size: 24px;
}

.A_ArticleBetony,
.A_ArticleInfoName {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 64px;
}

.A_ArticleInfoName {
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.A_ArticleLead {
  width: 670px;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 48px;
}

.A_BigLead {
  width: 1540px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 80px;
  z-index: 1;
}

.A_ArticleInter {
  font-size: 36px;
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.A_MenuLogo {
  width: 1620px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Base&Bloom Demo', Helvetica, Arial, sans-serif;
  font-size: 32px;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
}

.A_MenuLogo:hover {
  width: inherit;
  height: 60px;
  background-image: url('./images/A_MenuLogo.png');
}

.A_MenuSection {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  border-left: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;

  &.first:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection first.png');
  }

  &.second:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection second.png');
  }

  &.third:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection third.png');
  }

  &.forth:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection forth.png');
    border-right: 1px solid var(--border);
  }
}

.A_ImgGrain {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1470px;
  height: 1140px;
  z-index: 0;

  &.first {
    margin-left: -240px;
    top: -176px;
    background-image: url('./images/grain6.png');
  }

  &.second {
    left: 220px;
    top: -516px;
    background-image: url('./images/grain2.png');
  }

  &.third {
    left: -410px;
    top: -378px;
    background-image: url('./images/grain3.png');
  }
}

.Q_top {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  width: 50px;
  font-size: 128px;
  transform: rotate(-90deg);
  margin-top: 32px;
  margin-bottom: 32px;
  background: var(--background-top);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  backdrop-filter: blur(10px);

  &:hover {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.A_FuterMenu {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.A_FuterButton {
  font-size: 20px;
  margin-top: 8px;

  &.year {
    font-size: 22px;
    margin-top: 0px;
  }
}

.A_FuterImage {
  position: absolute;
  width: 486px;
  height: 452px;
  margin-left: 1138px;
  margin-top: -274px;
  background-image: url('./images/futerImage.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.S_Map {
  position: relative;
  width: 100%;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}
.W_Map {
  width: 1620px;
  background: var(--background-article);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0.1px solid var(--border);
  margin-top: 150px;
}

.W_MapStarinfo {
  height: 108px;
  border: 0.1px solid var(--border);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  .M_MapReadmyph {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .A_MapNameofstar {
    margin: 0 400px 0 400px;
    font-size: 32px;
  }
  .Q_ArrowRead {
    font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
    font-size: 60px;
    margin: 16px;
  }
}

.O_MapSkies {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;

  .M_MapSky {
    width: 811px;
    border: 0.1px solid var(--border);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.A_MapSkyNorth,
.A_MapSkySouth {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  width: 646px;
  height: 646px;
  border: 0.1px solid var(--border);
  border-radius: 100%;
  background: var(--background-circle);
}

.A_MapTypeOfSky {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 64px;
  padding: 26px 26px;
}

.Q_MapStars {
  position: relative;
  // background-image: url("./images/stars_north_default/mapcircle.png");
  // align-self: center;
  // object-fit: cover;
  // background-repeat: no-repeat;
  // background-size: contain;
  width: 100%;
  height: 100%;
  div {
    width: 150px;
    height: 170px;
    align-self: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  .Q_big_dipper {
    background-image: url('./images/stars_north_hover/big_dipper_hover.png');
    left: 240px;
    top: 16px;
  }
  .Q_delphin {
    background-image: url('./images/stars_north_default/delphin.png');
    left: 450px;
    top: 60px;
    rotate: 345deg;
  }
  .Q_whale_kit {
    background-image: url('./images/stars_north_default/whale_kit.png');
    left: 470px;
    top: 200px;
    // rotate: 34deg;
  }
  .Q_cepheus_cefei {
    background-image: url('./images/stars_north_default/cepheus_cefei.png');
    left: 480px;
    top: 330px;
  }
  .Q_gercules {
    background-image: url('./images/stars_north_default/gercules.png');
    left: 400px;
    top: 440px;
  }
  .Q_arrow {
    background-image: url('./images/stars_north_default/arrow.png');
    left: 283px;
    top: 540px;
  }
  .Q_eagle {
    background-image: url('./images/stars_north_default/eagle.png');
    left: 150px;
    top: 480px;
  }
  .Q_ursa_minor {
    background-image: url('./images/stars_north_default/ursa_minor.png');
    left: 80px;
    top: 387px;
  }
  .Q_triangle {
    background-image: url('./images/stars_north_default/triangle.png');
    left: 50px;
    top: 280px;
  }
  .Q_north_crown {
    background-image: url('./images/stars_north_default/north_crown.png');
    left: 12px;
    top: 160px;
    rotate: 100deg;
  }
  .Q_swan {
    background-image: url('./images/stars_north_default/swan.png');
    left: 80px;
    top: 20px;
    rotate: 200deg;
  }
  .Q_ophiuchus_zmeenosec {
    background-image: url('./images/stars_north_default/ophiuchus_zmeenosec.png');
    left: 246px;
    top: 413px;
  }
  .Q_charioteer_voznichi {
    background-image: url('./images/stars_north_default/charioteer_voznichi.png');
    left: 194px;
    top: 167px;
  }
  .Q_cassiopeia {
    background-image: url('./images/stars_north_default/cassiopeia.png');
    left: 203px;
    top: 324px;
    rotate: 330deg;
  }
  .Q_dragon {
    background-image: url('./images/stars_north_default/dragon.png');
    left: 363px;
    top: 234px;
    rotate: 314deg;
  }
  .Q_lira {
    background-image: url('./images/stars_north_default/lira.png');
    left: 305px;
    top: 173px;
  }
  .Q_andromeda {
    background-image: url('./images/stars_north_default/andromeda.png');
    left: 196px;
    top: 27px;
    width: 120%;
  }
  .Q_veronicas_hair {
    background-image: url('./images/stars_north_default/veronicas_hair.png');
    left: 230px;
    top: 155px;
  }
  .Q_perseus {
    background-image: url('./images/stars_north_default/perseus.png');
    left: 394px;
    top: 90px;
    rotate: 323deg;
  }

  .Q_feed_korma {
    background-image: url('./images/stars_south_default/feed_korma.png');
    left: 294px;
    top: 24px;
  }
  .Q_cup {
    background-image: url('./images/stars_south_default/—Åup.png');
    left: 405px;
    top: 68px;
    rotate: 20deg;
  }
  .Q_orion {
    background-image: url('./images/stars_south_default/orion.png');
    left: 520px;
    top: 200px;
  }
  .Q_raven {
    background-image: url('./images/stars_south_default/raven.png');
    left: 344px;
    top: 220px;
  }
  .Q_wolf {
    background-image: url('./images/stars_south_default/wolf.png');
    left: 424px;
    top: 372px;
    width: 200%;
  }
  .Q_sail_parusa {
    background-image: url('./images/stars_south_default/sail_parusa.png');
    left: 315px;
    top: 510px;
  }
  .Q_eridan {
    background-image: url('./images/stars_south_default/eridan.png');
    left: 94px;
    top: 431px;
    rotate: 342deg;
  }
  .Q_keel {
    background-image: url('./images/stars_south_default/keel.png');
    left: 250px;
    top: 444px;
  }
  .Q_big_dog {
    background-image: url('./images/stars_south_default/big_dog.png');
    left: 192px;
    top: 276px;
  }
  .Q_hare {
    background-image: url('./images/stars_south_default/hare.png');
    left: 36px;
    top: 224px;
  }
  .Q_centaurus {
    background-image: url('./images/stars_south_default/centaurus.png');
    left: 106px;
    top: 42px;
    width: 100%;
  }
}

.A_PopularMyphsTitle {
  font-size: 160px;
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
}
.A_Card,
.A_Card1,
.A_Card2,
.A_Card3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
  width: 390px;
  height: 520px;
  display: table;
  p {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    padding: 32px;
    text-transform: uppercase;
  }
}
.M_CardBack {
  width: 390px;
  height: 520px;
  background: var(--background-article);
  border: 0.1px solid var(--border);
  border-radius: 30px;
}
.W_StartPageCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    margin: 5px;
  }
}
.A_Card {
  background-image: url('./images/stars_north_default/big_dipper.png');
}
.A_Card1 {
  background-image: url('./images/stars_south_default/orion.png');
  background-size: 45%;
}
.A_Card2 {
  background-image: url('./images/stars_south_default/hare.png');
}
.A_Card3 {
  background-image: url('./images/stars_north_default/dragon.png');
  background-size: 65%;
}

.A_StartPageSky1,
.A_StartPageSky2 {
  width: 406px;
  height: 820px;
}

.A_StartPageSky1 {
  background-image: url('./images/startpage/A_StartPageSky1.png');
  background-size: 90%;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
}

.A_StartPageSky2 {
  background-image: url('./images/startpage/A_StartPageSky2.png');
  background-size: 90%;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
}

.Q_SkyBack1,
.Q_SkyBack2 {
  width: 406px;
  height: 820px;
  border: 0.1px solid var(--border);
  background: var(--background-circle);
}
.Q_SkyBack1 {
  border-radius: 0 1000px 1000px 0;
}
.Q_SkyBack2 {
  border-radius: 1000px 0 0 1000px;
}

.A_ButtonText {
  font-size: 24px;
  text-transform: uppercase;
  padding: 30px;
}
.M_Button {
  box-sizing: border-box;
  width: 640px;
  height: 86px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  background: var(--button);
  border-radius: 20px;
  border: 1px solid var(--border);

  &.articlebtn {
    margin-top: 100px;
    z-index: 5;
  }

  &:hover {
    background: var(--button-hover);
  }
}
