.A_FirstTitle {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 160px;
  text-align: center;
}

.A_SecondTitle {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 128px;
  text-align: center;
}

.A_ArticleImageBox{
  width: 160px;
  height: 160px;

  &.orionBox {
    width: 132px;;
  }

  .Q_ArticleStars {
    height: inherit;
    width: inherit;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
  
    &.orion {
      background-image: url('./images/orion.svg');
    }
  
    &.big_dog {
      background-image: url('./images/big_dog.svg');
    }
  
    &.small_dog {
      background-image: url('./images/small_dog.svg');
    }
  }
}

.A_ArticleLead,
.A_ArticleContent,
.A_ArticleInfoContent,
.A_BigLead {
  line-height: normal;
}

.A_ArticleContent {
  width: 622px;
  font-size: 24px;

  &.betony::first-letter {
    font-size: 0px;
  }
}

.A_ArticleInfoContent {
  width: 622px;
  margin-bottom: 40px;
  font-size: 24px;
}

.A_ArticleBetony,
.A_ArticleInfoName {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 62px;
}

.A_ArticleInfoName {
  margin-top: 40px;
  margin-bottom: 10px;
  width: 680px;
}

.A_ArticleLead {
  width: 670px;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 48px;
}

.A_BigLead {
  width: 1540px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 80px;
  z-index: 1;
}

.A_ArticleInter {
  font-size: 36px;
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.A_MenuLogo {
  width: 1620px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Base&Bloom Demo', Helvetica, Arial, sans-serif;
  font-size: 32px;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
}

.A_MenuLogo:hover {
  width: inherit;
  height: 60px;
  background-image: url('./images/A_MenuLogo.png');
}

.A_MenuSection {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  border-left: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;

  &.first:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection first.png');
  }

  &.second:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection second.png');
  }

  &.third:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection third.png');
  }

  &.forth:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection forth.png');
    border-right: 1px solid var(--border);
  }
}

.A_ImgGrain {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1470px;
  height: 1140px;
  z-index: 0;

  &.first {
    margin-left: -240px;
    top: -176px;
    background-image: url('./images/grain6.png');
  }

  &.second {
    left: 220px;
    top: -516px;
    background-image: url('./images/grain2.png');
  }

  &.third {
    left: -410px;
    top: -378px;
    background-image: url('./images/grain3.png');
  }
}

.Q_top {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  width: 50px;
  font-size: 128px;
  transform: rotate(-90deg);
  margin-top: 32px;
  margin-bottom: 32px;
  background: var(--background-top);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  backdrop-filter: blur(10px);

  &:hover {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.A_FuterMenu {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.A_FuterButton {
  font-size: 20px;
  margin-top: 8px;

  &.year {
    font-size: 22px;
    margin-top: 0px;
  }
}

.A_FuterImage {
  position: absolute;
  width: 486px;
  height: 452px;
  margin-left: 1138px;
  margin-top: -274px;
  background-image: url('./images/futerImage.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}

.A_ZodiakAries, .A_ZodiakTaurus, .A_ZodiakGemini, .A_ZodiakCancer, .A_ZodiakLeo, .A_ZodiakVirgo, .A_ZodiakLibra, .A_ZodiakScorpio, .A_ZodiakStrelec, .A_ZodiakKozerog, .A_ZodiakVodolei, .A_ZodiakPisces {
  position: absolute;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.A_ZodiakAries {
  width: 158.73px;
  height: 158.74px;
  left: 48px;
  top: 439px;
  background-image: url('./images/ZodiakPage/A_ZodiakAries.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakAriesHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakAriesHover.png');
  }
}

.A_ZodiakTaurus {
  left: 167px;
  top: 518px;
  width: 152px;
  height: 126.85px;
  background-image: url('./images/ZodiakPage/A_ZodiakTaurus.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakTaurusHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakTaurusHover.png');
  }
} 

.A_ZodiakGemini{
  left: 324px;
  top: 518px;
  width: 152px;
  height: 126.85px;
  background-image: url('./images/ZodiakPage/A_ZodiakGemini.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakGeminiHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakGeminiHover.png');
  }
}

.A_ZodiakCancer{
  left: 436px;
  top: 440px;
  width: 158.72px;
  height: 158.75px;
  background-image: url('./images/ZodiakPage/A_ZodiakCancer.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakCancerHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakCancerHover.png');
  }
} 

.A_ZodiakLeo {
  left: 516px;
  top: 328px;
  width: 126.84px;
  height: 152.02px;
  background-image: url('./images/ZodiakPage/A_ZodiakLeo.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakLeoHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakLeoHover.png');
  }
} 

.A_ZodiakVirgo {
  left: 516px;
  top: 170px;
  width: 126.83px;
  height: 152px;
  background-image: url('./images/ZodiakPage/A_ZodiakVirgo.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakVirgoHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakVirgoHover.png');
  }
} 

.A_ZodiakLibra {
  left: 436px;
  top: 52px;
  width: 158.72px;
  height: 158.74px;
  background-image: url('./images/ZodiakPage/A_ZodiakLibra.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakLibraHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakLibraHover.png');
  }
} 

.A_ZodiakScorpio {
  left: 324px;
  top: 4px;
  width: 152px;
  height: 126.85px;
  background-image: url('./images/ZodiakPage/A_ZodiakScorpio.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakScorpioHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakScorpioHover.png');
  }
} 

.A_ZodiakStrelec {
  left: 166px;
  top: 4px;
  width: 152px;
  height: 126.85px;

  background-image: url('./images/ZodiakPage/A_ZodiakStrelec.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakStrelecHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakStrelecHover.png');
  }
} 

.A_ZodiakKozerog {
  left: 48px;
  top: 52px;
  width: 158.73px;
  height: 158.75px;
  background-image: url('./images/ZodiakPage/A_ZodiakKozerog.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakKozerogHover.png');
  }
  
  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakKozerogHover.png');
  }
} 

.A_ZodiakVodolei {
  top: 170px;
  left: 2px;
  width: 126.85px;
  height: 152.01px;
  background-image: url('./images/ZodiakPage/A_ZodiakVodolei.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakVodoleiHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakVodoleiHover.png');
  }
} 

.A_ZodiakPisces {
  left: 2px;
  top: 328px;
  width: 126.84px;
  height: 152.02px;
  background-image: url('./images/ZodiakPage/A_ZodiakPisces.png');


  &:hover {
    background-image: url('./images/ZodiakPage/A_ZodiakPiscesHover.png');
  }

  &.active {
    background-image: url('./images/ZodiakPage/A_ZodiakPiscesHover.png');
  }
}

.A_ZodiakName {
  display: none;
  font-size: 64px;
  font-family: 'BASE&BLOOM Demo';
  padding: 20px;

  &.active {
    display: block;
  }
}

.A_ZodiakInCircle {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 154px;
  width: 422px;
  height: 422px;
  border-radius: 100%;
  border: 1px solid var(--white);

  .Q_ZodiakAries, .Q_ZodiakLeo {
    display: none;
    width: 268px;
    height: 250px;
    align-self: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;

    &.active {
      display: block;
    }

    &.Q_ZodiakAries {
      background-image: url('./images/ZodiakPage/aries.svg');
    }

    &.Q_ZodiakLeo {
      margin-top: 64px;
      width: 300px;
      background-image: url('./images/ZodiakPage/leo.svg');
    }
  }
}