.A_FirstTitle {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 160px;
  text-align: center;
}

.A_SecondTitle {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 128px;
  text-align: center;
}

.A_ArticleImageBox{
  width: 160px;
  height: 160px;

  &.orionBox {
    width: 132px;;
  }

  .Q_ArticleStars {
    height: inherit;
    width: inherit;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
  
    &.orion {
      background-image: url('./images/orion.svg');
    }
  
    &.big_dog {
      background-image: url('./images/big_dog.svg');
    }
  
    &.small_dog {
      background-image: url('./images/small_dog.svg');
    }
  }
}

.A_ArticleLead,
.A_ArticleContent,
.A_ArticleInfoContent,
.A_BigLead {
  line-height: normal;
}

.A_ArticleContent {
  width: 622px;
  font-size: 24px;

  &.betony::first-letter {
    font-size: 0px;
  }
}

.A_ArticleInfoContent {
  width: 622px;
  margin-bottom: 40px;
  margin-left: 124px;
  font-size: 24px;
}

.A_ArticleBetony,
.A_ArticleInfoName {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 64px;
}

.A_ArticleInfoName {
  margin-left: 70px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.A_ArticleLead {
  width: 670px;
  margin-left: 70px;
  margin-top: 40px;
  font-size: 48px;
}

.A_BigLead {
  width: 1540px;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 80px;
  z-index: 1;
}

.A_ArticleInter {
  font-size: 36px;
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.A_MenuLogo {
  width: 1620px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Base&Bloom Demo', Helvetica, Arial, sans-serif;
  font-size: 32px;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
}

.A_MenuLogo:hover {
  width: inherit;
  height: 60px;
  background-image: url('./images/A_MenuLogo.png');
}

.A_MenuSection {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  border-left: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;

  &.first:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection first.png');
  }

  &.second:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection second.png');
  }

  &.third:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection third.png');
  }

  &.forth:hover {
    width: inherit;
    height: 50px;
    background-image: url('./images/A_MenuSection forth.png');
    border-right: 1px solid var(--border);
  }
}

.A_ImgGrain {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 1470px;
  height: 1140px;
  z-index: 0;

  &.first {
    margin-left: -240px;
    top: -176px;
    background-image: url('./images/grain6.png');
  }

  &.second {
    left: 220px;
    top: -516px;
    background-image: url('./images/grain2.png');
  }

  &.third {
    left: -410px;
    top: -378px;
    background-image: url('./images/grain3.png');
  }
}

.Q_top {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  width: 50px;
  font-size: 128px;
  transform: rotate(-90deg);
  margin-top: 32px;
  margin-bottom: 32px;
  background: var(--background-top);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  backdrop-filter: blur(10px);

  &:hover {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.A_FuterMenu {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.A_FuterButton {
  font-size: 20px;
  margin-top: 8px;

  &.year {
    font-size: 22px;
    margin-top: 0px;
  }
}

.A_FuterImage {
  position: absolute;
  width: 486px;
  height: 452px;
  margin-left: 1138px;
  margin-top: -274px;
  background-image: url('./images/futerImage.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 0;
}