.S_MenuFill {
  position: fixed;
  width: calc(100% - 32px);
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border);
  background: var(--background-article);
  backdrop-filter: blur(10px);
  border-radius: 0px 0px 20px 20px;
  z-index: 100;

  .M_MenuButtons {
    width: 1620px;
    border-right: 1px solid var(--border);
  }

  .M_MenuSections {
    width: 1620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.S_MenuPhone {
  display: none;
}

.S_FilterBarAllcontent {
  position: relative;
  width: 100%;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .M_Titles {
    padding: 120px 0px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  .O_FilterBar {
    z-index: 3;
    position: relative;
    width: 1620px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    // justify-content: center;
    background: var(--background-article);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 52px 64px 52px 64px;
    border: 0.1px solid var(--border);

    .W_FilterBarSearch {
      width: 1334px;
    }
    .C_FilterBarFilterButton {
      display: flex;
      flex-direction: row;
      gap: 62px;

      .M_FilterBarFilterButton {
        display: flex;
        flex-direction: row;

        .A_FilterBarFilterButtonText {
          font-size: 22px;
          white-space: nowrap;
          display: flex;
          flex-direction: row;
          background-color: rgba(0, 0, 0, 0.25);
          padding: 22px 80px 22px 80px;

          &.All {
            padding: 22px 46px 22px 46px;
          }

          &.active {
            // background-color: red;
            background: url('./images/button_checked.png');
          }
        }
        .A_FilterBarFilterButtonText:hover {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
          );
        }
        .A_FilterBarFilterButtonText:active {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
          );
        }
        .Right {
          border-radius: 0px 13px 13px 0px;
        }
        .Left {
          border-width: 1px 1px 0px 1px;
          border-style: solid;
          border-image: var(--filtr);
          border-image-slice: 1;
          border-radius: 13px 0px 0px 13px;
        }
      }
    }
  }
  .O_Cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .W_Cards {
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 390px;
      background: var(--background-article);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 0.1px solid var(--border);

      &.active {
        display: block;
      }
      // &:not(.active) {
      //   display: none;
      // }

      .Q_CardsImage {
      }
      .A_CardsStarName {
        font-size: 24px;
        display: flex;
        justify-content: center;
        padding: 32px 0px 32px 0px;
      }
    }
  }
}

.S_ArticleAllcontent {
  position: relative;
  width: 100%;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .M_Titles {
    padding: 120px 0px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 3;
  }

  .C_Article {
    position: relative;
    .W_Article {
      z-index: 3;
      position: relative;
      display: flex;
      justify-content: space-between;
      width: inherit;
      background: var(--background-article);
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 0.1px solid var(--border);

      .M_ArticleRightBlock {
        width: 810px;
        border-left: 1px solid var(--border);

        .W_ArticleMainContent {
          display: flex;
          margin-left: 70px;
          margin-top: 40px;
          margin-bottom: 40px;

          .M_ArticleContentBlocks {
            margin-left: 6px;
          }
        }

        .M_ArticleInfoBlock {
          width: 810px;
          border-top: 1px solid var(--border);
        }
      }

      .M_ArticleLeftBlock {
        width: 810px;

        .M_ArticleStarsContainer {
          display: flex;
          padding: 20px 70px 20px 70px;
          justify-content: flex-start;
          border-bottom: 1px solid var(--border);
        }
      }
    }
  }
}

.S_Futer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .O_FuterAll {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1620px;
    height: 184px;
    background: var(--background-article);
    backdrop-filter: blur(10px);
    border-radius: 20px 20px 0px 0px;
    border-right: 1px solid var(--border);
    z-index: 5;

    .M_FuterPart {
      width: inherit;
      flex-direction: column;
      align-items: flex-start;
      padding: 32px 70px;
      border-left: 1px solid var(--border);

      &.first {
        border-top-left-radius: 20px;
      }
    }
  }
}
