.Q_top {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  width: 50px;
  font-size: 128px;
  transform: rotate(-90deg);
  margin-top: 32px;
  margin-bottom: 32px;
  background: var(--background-top);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  backdrop-filter: blur(10px);

  &:hover {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.Q_ZodiakCenter {
  display: none;
  width: 268px;
  height: 250px;
  align-self: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;

  &.active {
    display: block;
  }

  &.AriesCenter {
    background-image: url('./images/ZodiakPage/aries.svg');
  }

  &.TaurusCenter {
    background-image: url('./images/ZodiakPage/taurus.svg');
  }
  &.GeminiCenter {
    background-image: url('./images/ZodiakPage/gemini.svg');
  }
  &.CancerCenter {
    width: 146px;
    background-image: url('./images/ZodiakPage/cancer.svg');
  }
  &.LeoCenter {
    height: 156px;
    width: 300px;
    background-image: url('./images/ZodiakPage/leo.svg');
  }
  &.VirgoCenter {
    height: 182px;
    background-image: url('./images/ZodiakPage/virgo.svg');
  }
  &.LibraCenter {
    width: 200px;
    background-image: url('./images/ZodiakPage/libra.svg');
  }
  &.ScorpioCenter {
    background-image: url('./images/ZodiakPage/scorpio.svg');
  }
  &.StrelecCenter {
    width: 228px;
    background-image: url('./images/ZodiakPage/strelec.svg');
  }
  &.KozerogCenter {
    height: 180px;
    background-image: url('./images/ZodiakPage/kozerog.svg');
  }
  &.VodoleiCenter {
    height: 130px;
    background-image: url('./images/ZodiakPage/vodolei.svg');
  }
  &.PiscesCenter {
    margin-left: 20px;
    width: 244px;
    height: 226px;
    background-image: url('./images/ZodiakPage/pisces.svg');
  }
}

.Q_CardsImage {
  width: 390px;
  height: 422px;

  &.lira {
    background-image: url('./images/cardsImage/lira.png');
  }
  &.dragon {
    background-image: url('./images/cardsImage/dragon.png');
  }
  &.big_dipper {
    background-image: url('./images/cardsImage/big_dipper.png');
  }
  &.perseus {
    background-image: url('./images/cardsImage/perseus.png');
  }
}

.Q_ArticleStars {
  height: inherit;
  width: inherit;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;

  &.zmeenosec {
    background-image: url('./images/articles/zmeenosec.svg');
  }

  &.delphin {
    background-image: url('./images/articles/delphin.svg');
  }

  &.eagle {
    background-image: url('./images/articles/eagle.svg');
  }

  &.arrow {
    background-image: url('./images/articles/arrow.svg');
  }

  &.wolf {
    background-image: url('./images/articles/wolf.svg');
  }

  &.aries {
    background-image: url('./images/articles/aries.svg');
  }

  &.hare {
    background-image: url('./images/articles/hare.svg');
  }

  &.big_dipper {
    background-image: url('./images/articles/big_dipper.svg');
  }

  &.ursa_minor {
    background-image: url('./images/articles/ursa_minor.svg');
  }

  &.triangle {
    background-image: url('./images/articles/triangle.svg');
  }
  &.dragon {
    background-image: url('./images/articles/dragon.svg');
  }

  &.voznichi {
    background-image: url('./images/articles/voznichi.svg');
  }

  &.perseus {
    background-image: url('./images/articles/perseus.svg');
  }

  &.andromeda {
    background-image: url('./images/articles/andromeda.svg');
  }
  &.whale {
    background-image: url('./images/articles/whale.svg');
  }
  &.cassiopeia {
    background-image: url('./images/articles/cassiopeia.svg');
  }
  &.cefei {
    background-image: url('./images/articles/cefei.svg');
  }
  &.gemini {
    background-image: url('./images/articles/gemini.svg');
  }
  &.scorpio {
    background-image: url('./images/articles/scorpio.svg');
  }
  &.eridan {
    background-image: url('./images/articles/eridan.svg');
  }
  &.hydra {
    background-image: url('./images/articles/hydra.svg');
  }
  &.veronica_hair {
    background-image: url('./images/articles/veronica_hair.svg');
  }
  &.cancer {
    background-image: url('./images/articles/cancer.svg');
  }
  &.cup {
    background-image: url('./images/articles/cup.svg');
  }

  &.orion {
    background-image: url('./images/articles/orion.svg');
  }

  &.big_dog {
    background-image: url('./images/articles/big_dog.svg');
  }

  &.small_dog {
    background-image: url('./images/articles/small_dog.svg');
  }

  &.lira {
    background-image: url('./images/articles/lira.svg');
  }

  &.swan {
    background-image: url('./images/articles/swan.svg');
  }

  &.capricorn {
    background-image: url('./images/articles/capricorn.svg');
  }

  &.libra {
    background-image: url('./images/articles/libra.svg');
  }

  &.lion {
    background-image: url('./images/articles/lion.svg');
  }

  &.aquarius {
    background-image: url('./images/articles/aquarius.svg');
  }

  &.pisces {
    background-image: url('./images/articles/pisces.svg');
  }

  &.virgin {
    background-image: url('./images/articles/virgin.svg');
  }

  &.keel {
    background-image: url('./images/articles/keel.svg');
  }

  &.feed {
    background-image: url('./images/articles/feed.svg');
  }

  &.sail {
    background-image: url('./images/articles/sail.svg');
  }

  &.north_crown {
    background-image: url('./images/articles/north_crown.svg');
  }

  &.raven {
    background-image: url('./images/articles/raven.svg');
  }

  &.centaurus {
    background-image: url('./images/articles/centaurus.svg');
  }

  &.strelec {
    background-image: url('./images/articles/strelec.svg');
  }
}

// .Q_SearchIcon {
//   width: 24px;
//   height: 24px;
//   align-self: center;
//   object-fit: cover;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('./images/A_FilterBarSearchIcon.svg');
// }

//adaptive

@media only screen and (min-width: 1440px) and (max-width: 1728px) {
  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
}

@media only screen and (min-width: 1194px) and (max-width: 1440px) {
  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1194px) {
  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
}
@media only screen and (min-device-width: 580px) and (max-device-width: 758px) {
  .Q_TgIcon {
    display: block;
    height: 58px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-image: url('./images/Q_TgIcon.svg');
  }

  .Q_MenuBar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: var(--white);
    transition: 0.2s;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(2) {
    opacity: 0;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 580px) {
  .Q_TgIcon {
    display: block;
    height: 58px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-image: url('./images/Q_TgIcon.svg');
  }

  .Q_MenuBar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: var(--white);
    transition: 0.2s;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(2) {
    opacity: 0;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .Q_ZodiakCenter {
    width: 130px;
    height: 120px;

    &.CancerCenter {
      width: 70px;
    }
    &.LeoCenter {
      height: 74px;
      width: 144px;
    }
    &.VirgoCenter {
      height: 86px;
    }
    &.LibraCenter {
      width: 98px;
    }

    &.StrelecCenter {
      width: 110px;
    }
    &.KozerogCenter {
      height: 86px;
    }
    &.VodoleiCenter {
      height: 66px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 137px;
      height: 130px;
    }
  }
}
