.Q_top {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  width: 50px;
  font-size: 128px;
  transform: rotate(-90deg);
  margin-top: 32px;
  margin-bottom: 32px;
  background: var(--background-top);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  backdrop-filter: blur(10px);

  &:hover {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.Q_CircleGuied {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.Q_CircleSmall {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.Q_ZodiakCenter {
  display: none;
  width: 268px;
  height: 250px;
  align-self: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;

  &.active {
    display: block;
  }

  &.AriesCenter {
    background-image: url('./images/ZodiakPage/aries.svg');
  }

  &.TaurusCenter {
    background-image: url('./images/ZodiakPage/taurus.svg');
  }
  &.GeminiCenter {
    background-image: url('./images/ZodiakPage/gemini.svg');
  }
  &.CancerCenter {
    width: 146px;
    background-image: url('./images/ZodiakPage/cancer.svg');
  }
  &.LeoCenter {
    height: 156px;
    width: 300px;
    background-image: url('./images/ZodiakPage/leo.svg');
  }
  &.VirgoCenter {
    height: 182px;
    background-image: url('./images/ZodiakPage/virgo.svg');
  }
  &.LibraCenter {
    width: 200px;
    background-image: url('./images/ZodiakPage/libra.svg');
  }
  &.ScorpioCenter {
    background-image: url('./images/ZodiakPage/scorpio.svg');
  }
  &.StrelecCenter {
    width: 228px;
    background-image: url('./images/ZodiakPage/strelec.svg');
  }
  &.KozerogCenter {
    height: 180px;
    background-image: url('./images/ZodiakPage/kozerog.svg');
  }
  &.VodoleiCenter {
    height: 130px;
    background-image: url('./images/ZodiakPage/vodolei.svg');
  }
  &.PiscesCenter {
    margin-left: 20px;
    width: 244px;
    height: 226px;
    background-image: url('./images/ZodiakPage/pisces.svg');
  }
}

.Q_CardsImage {
  width: 380px;
  height: 422px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  &.zmeenosec {
    background-image: url('./images/cardsImage/ophiuchus.png');
  }

  &.delphin {
    background-image: url('./images/cardsImage/delphin.png');
  }

  &.eagle {
    background-image: url('./images/cardsImage/eagle.png');
  }

  &.arrow {
    background-image: url('./images/cardsImage/arrow.png');
  }

  &.wolf {
    background-image: url('./images/cardsImage/wolf.png');
  }

  &.aries {
    background-image: url('./images/cardsImage/aries.png');
  }

  &.hare {
    background-image: url('./images/cardsImage/hare.png');
  }

  &.big_dipper {
    background-image: url('./images/cardsImage/big_dipper.png');
  }

  // &.ursa_minor {
  //   background-image: url('./images/cardsImage/ursa_minor.png');
  // }

  &.triangle {
    background-image: url('./images/cardsImage/triangle.png');
  }
  &.dragon {
    background-image: url('./images/cardsImage/dragon.png');
  }

  &.voznichi {
    background-image: url('./images/cardsImage/charioteer.png');
  }

  &.perseus {
    background-image: url('./images/cardsImage/perseus.png');
  }

  &.andromeda {
    background-image: url('./images/cardsImage/andromeda.png');
  }
  &.whale {
    background-image: url('./images/cardsImage/whale.png');
  }
  &.cassiopeia {
    background-image: url('./images/cardsImage/cassiopeia.png');
  }
  &.cefei {
    background-image: url('./images/cardsImage/cepheus.png');
  }
  &.gemini {
    background-image: url('./images/cardsImage/gemini.png');
  }
  &.scorpio {
    background-image: url('./images/cardsImage/scorpio.png');
  }
  &.eridan {
    background-image: url('./images/cardsImage/eridan.png');
  }
  &.hydra {
    background-image: url('./images/cardsImage/hydra.png');
  }
  &.veronica_hair {
    background-image: url('./images/cardsImage/veronica_hair.png');
  }
  &.cancer {
    background-image: url('./images/cardsImage/cancer.png');
  }
  &.cup {
    background-image: url('./images/cardsImage/cup.png');
  }

  &.orion {
    background-image: url('./images/cardsImage/orion.png');
  }

  &.big_dog {
    background-image: url('./images/cardsImage/big_dog.png');
  }

  &.small_dog {
    background-image: url('./images/cardsImage/small_dog.png');
  }

  &.lira {
    background-image: url('./images/cardsImage/lira.png');
  }

  &.swan {
    background-image: url('./images/cardsImage/swan.png');
  }

  &.capricorn {
    background-image: url('./images/cardsImage/capricorn.png');
  }

  &.libra {
    background-image: url('./images/cardsImage/libra.png');
  }

  &.lion {
    background-image: url('./images/cardsImage/lion.png');
  }

  &.aquarius {
    background-image: url('./images/cardsImage/aquarius.png');
  }

  &.pisces {
    background-image: url('./images/cardsImage/pisces.png');
  }

  &.virgin {
    background-image: url('./images/cardsImage/virgin.png');
  }

  &.keel {
    background-image: url('./images/cardsImage/keel.png');
  }

  &.feed {
    background-image: url('./images/cardsImage/feed.png');
  }

  &.sail {
    background-image: url('./images/cardsImage/sail.png');
  }

  &.north_crown {
    background-image: url('./images/cardsImage/north_crown.png');
  }

  &.raven {
    background-image: url('./images/cardsImage/raven.png');
  }

  &.centaurus {
    background-image: url('./images/cardsImage/centaurus.png');
  }

  &.strelec {
    background-image: url('./images/cardsImage/saggitarius.png');
  }
}

.Q_ArticleStars {
  height: inherit;
  width: inherit;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;

  &.zmeenosec {
    background-image: url('./images/articles/zmeenosec.svg');
  }

  &.delphin {
    background-image: url('./images/articles/delphin.svg');
  }

  &.eagle {
    background-image: url('./images/articles/eagle.svg');
  }

  &.arrow {
    background-image: url('./images/articles/arrow.svg');
  }

  &.wolf {
    background-image: url('./images/articles/wolf.svg');
  }

  &.aries {
    background-image: url('./images/articles/aries.svg');
  }

  &.hare {
    background-image: url('./images/articles/hare.svg');
  }

  &.big_dipper {
    background-image: url('./images/articles/big_dipper.svg');
  }

  &.ursa_minor {
    background-image: url('./images/articles/ursa_minor.svg');
  }

  &.triangle {
    background-image: url('./images/articles/triangle.svg');
  }
  &.dragon {
    background-image: url('./images/articles/dragon.svg');
  }

  &.voznichi {
    background-image: url('./images/articles/voznichi.svg');
  }

  &.perseus {
    background-image: url('./images/articles/perseus.svg');
  }

  &.andromeda {
    background-image: url('./images/articles/andromeda.svg');
  }
  &.whale {
    background-image: url('./images/articles/whale.svg');
  }
  &.cassiopeia {
    background-image: url('./images/articles/cassiopeia.svg');
  }
  &.cefei {
    background-image: url('./images/articles/cefei.svg');
  }
  &.gemini {
    background-image: url('./images/articles/gemini.svg');
  }
  &.scorpio {
    background-image: url('./images/articles/scorpio.svg');
  }
  &.eridan {
    background-image: url('./images/articles/eridan.svg');
  }
  &.hydra {
    background-image: url('./images/articles/hydra.svg');
  }
  &.veronica_hair {
    background-image: url('./images/articles/veronica_hair.svg');
  }
  &.cancer {
    background-image: url('./images/articles/cancer.svg');
  }
  &.cup {
    background-image: url('./images/articles/cup.svg');
  }

  &.orion {
    background-image: url('./images/articles/orion.svg');
  }

  &.big_dog {
    background-image: url('./images/articles/big_dog.svg');
  }

  &.small_dog {
    background-image: url('./images/articles/small_dog.svg');
  }

  &.lira {
    background-image: url('./images/articles/lira.svg');
  }

  &.swan {
    background-image: url('./images/articles/swan.svg');
  }

  &.capricorn {
    background-image: url('./images/articles/capricorn.svg');
  }

  &.libra {
    background-image: url('./images/articles/libra.svg');
  }

  &.lion {
    background-image: url('./images/articles/lion.svg');
  }

  &.aquarius {
    background-image: url('./images/articles/aquarius.svg');
  }

  &.pisces {
    background-image: url('./images/articles/pisces.svg');
  }

  &.virgin {
    background-image: url('./images/articles/virgin.svg');
  }

  &.keel {
    background-image: url('./images/articles/keel.svg');
  }

  &.feed {
    background-image: url('./images/articles/feed.svg');
  }

  &.sail {
    background-image: url('./images/articles/sail.svg');
  }

  &.north_crown {
    background-image: url('./images/articles/north_crown.svg');
  }

  &.raven {
    background-image: url('./images/articles/raven.svg');
  }

  &.centaurus {
    background-image: url('./images/articles/centaurus.svg');
  }

  &.strelec {
    background-image: url('./images/articles/strelec.svg');
  }
}

// .Q_SearchIcon {
//   width: 24px;
//   height: 24px;
//   align-self: center;
//   object-fit: cover;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-image: url('./images/A_FilterBarSearchIcon.svg');
// }
.Q_ArrowRead {
  font-family: 'BASE&BLOOM Demo', Helvetica, Arial, sans-serif;
  font-size: 60px;
  margin: 16px;
}
.Q_MapStars {
  position: relative;
  width: 100%;
  height: 100%;
  div {
    width: 150px;
    height: 170px;
    align-self: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
}

.Q_big_dipper {
  background-image: url('./images/stars_north_default/big_dipper.png');
  left: 240px;
  top: 16px;

  &:hover {
    background-image: url('./images/stars_north_hover/big_dipper_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/big_dipper_hover.png');
  }
}

.Q_delphin {
  background-image: url('./images/stars_north_default/delphin.png');
  left: 450px;
  top: 60px;
  rotate: 345deg;
  &:hover {
    background-image: url('./images/stars_north_hover/delphin_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/delphin_hover.png');
  }
}

.Q_whale_kit {
  background-image: url('./images/stars_north_default/whale_kit.png');
  left: 470px;
  top: 200px;
  &:hover {
    background-image: url('./images/stars_north_hover/whale_kit_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/whale_kit_hover.png');
  }
}

.Q_cepheus_cefei {
  background-image: url('./images/stars_north_default/cepheus_cefei.png');
  left: 480px;
  top: 330px;
  &:hover {
    background-image: url('./images/stars_north_hover/cepheus_cefei_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/cepheus_cefei_hover.png');
  }
}

.Q_gercules {
  background-image: url('./images/stars_north_default/gercules.png');
  left: 400px;
  top: 440px;
  &:hover {
    background-image: url('./images/stars_north_hover/gercules_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/gercules_hover.png');
  }
}
.Q_arrow {
  background-image: url('./images/stars_north_default/arrow.png');
  left: 283px;
  top: 540px;
  &:hover {
    background-image: url('./images/stars_north_hover/arrow_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/arrow_hover.png');
  }
}
.Q_eagle {
  background-image: url('./images/stars_north_default/eagle.png');
  left: 150px;
  top: 480px;
  &:hover {
    background-image: url('./images/stars_north_hover/eagle_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/eagle_hover.png');
  }
}
.Q_ursa_minor {
  background-image: url('./images/stars_north_default/ursa_minor.png');
  left: 80px;
  top: 387px;
  &:hover {
    background-image: url('./images/stars_north_hover/ursa_minor_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/ursa_minor_hover.png');
  }
}
.Q_triangle {
  background-image: url('./images/stars_north_default/triangle.png');
  left: 50px;
  top: 280px;
  &:hover {
    background-image: url('./images/stars_north_hover/triangle_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/triangle_hover.png');
  }
}
.Q_north_crown {
  background-image: url('./images/stars_north_default/north_crown.png');
  left: 12px;
  top: 160px;
  rotate: 100deg;
  &:hover {
    background-image: url('./images/stars_north_hover/north_crown_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/north_crown_hover.png');
  }
}
.Q_swan {
  background-image: url('./images/stars_north_default/swan.png');
  left: 80px;
  top: 20px;
  rotate: 200deg;
  &:hover {
    background-image: url('./images/stars_north_hover/swan_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/swan_hover.png');
  }
}
.Q_ophiuchus_zmeenosec {
  background-image: url('./images/stars_north_default/ophiuchus_zmeenosec.png');
  left: 246px;
  top: 413px;
  &:hover {
    background-image: url('./images/stars_north_hover/ophiuchus_zmeenosec_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/ophiuchus_zmeenosec_hover.png');
  }
}
.Q_charioteer_voznichi {
  background-image: url('./images/stars_north_default/charioteer_voznichi.png');
  left: 194px;
  top: 167px;
  &:hover {
    background-image: url('./images/stars_north_hover/charioteer_voznichi_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/charioteer_voznichi_hover.png');
  }
}
.Q_cassiopeia {
  background-image: url('./images/stars_north_default/cassiopeia.png');
  left: 203px;
  top: 324px;
  rotate: 330deg;
  &:hover {
    background-image: url('./images/stars_north_hover/cassiopeia_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/cassiopeia_hover.png');
  }
}
.Q_dragon {
  background-image: url('./images/stars_north_default/dragon.png');
  left: 363px;
  top: 234px;
  rotate: 314deg;
  &:hover {
    background-image: url('./images/stars_north_hover/dragon_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/dragon_hover.png');
  }
}
.Q_lira {
  background-image: url('./images/stars_north_default/lira.png');
  left: 305px;
  top: 173px;
  &:hover {
    background-image: url('./images/stars_north_hover/lira_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/lira_hover.png');
  }
}
.Q_andromeda {
  background-image: url('./images/stars_north_default/andromeda.png');
  left: 196px;
  top: 27px;
  width: 120%;
  &:hover {
    background-image: url('./images/stars_north_hover/andromeda_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/andromeda_hover.png');
  }
}
.Q_veronicas_hair {
  background-image: url('./images/stars_north_default/veronicas_hair.png');
  left: 230px;
  top: 155px;
  &:hover {
    background-image: url('./images/stars_north_hover/veronicas_hair_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/veronicas_hair_hover.png');
  }
}
.Q_perseus {
  background-image: url('./images/stars_north_default/perseus.png');
  left: 394px;
  top: 90px;
  rotate: 323deg;
  &:hover {
    background-image: url('./images/stars_north_hover/perseus_hover.png');
  }
  &.active {
    background-image: url('./images/stars_north_hover/perseus_hover.png');
  }
}

.Q_feed_korma {
  background-image: url('./images/stars_south_default/feed_korma.png');
  left: 294px;
  top: 24px;
  &:hover {
    background-image: url('./images/stars_south_hover/feed_korma_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/feed_korma_hover.png');
  }
}
.Q_cup {
  background-image: url('./images/stars_south_default/сup.png');
  left: 405px;
  top: 68px;
  rotate: 20deg;
  &:hover {
    background-image: url('./images/stars_south_hover/сup_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/сup_hover.png');
  }
}
.Q_orion {
  background-image: url('./images/stars_south_default/orion.png');
  left: 520px;
  top: 200px;
  &:hover {
    background-image: url('./images/stars_south_hover/orion_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/orion_hover.png');
  }
}
.Q_raven {
  background-image: url('./images/stars_south_default/raven.png');
  left: 344px;
  top: 220px;
  &:hover {
    background-image: url('./images/stars_south_hover/raven_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/raven_hover.png');
  }
}
.Q_wolf {
  background-image: url('./images/stars_south_default/wolf.png');
  left: 424px;
  top: 372px;
  width: 200%;
  &:hover {
    background-image: url('./images/stars_south_hover/wolf_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/wolf_hover.png');
  }
}
.Q_sail_parusa {
  background-image: url('./images/stars_south_default/sail_parusa.png');
  left: 315px;
  top: 510px;
  &:hover {
    background-image: url('./images/stars_south_hover/sail_parusa_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/sail_parusa_hover.png');
  }
}
.Q_eridan {
  background-image: url('./images/stars_south_default/eridan.png');
  left: 94px;
  top: 431px;
  rotate: 342deg;
  &:hover {
    background-image: url('./images/stars_south_hover/eridan_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/eridan_hover.png');
  }
}
.Q_keel {
  background-image: url('./images/stars_south_default/keel.png');
  left: 250px;
  top: 444px;
  &:hover {
    background-image: url('./images/stars_south_hover/keel_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/keel_hover.png');
  }
}
.Q_big_dog {
  background-image: url('./images/stars_south_default/big_dog.png');
  left: 192px;
  top: 276px;
  &:hover {
    background-image: url('./images/stars_south_hover/big_dog_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/big_dog_hover.png');
  }
}
.Q_hare {
  background-image: url('./images/stars_south_default/hare.png');
  left: 36px;
  top: 224px;
  &:hover {
    background-image: url('./images/stars_south_hover/hare_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/hare_hover.png');
  }
}
.Q_centaurus {
  background-image: url('./images/stars_south_default/centaurus.png');
  left: 106px;
  top: 42px;
  width: 100%;
  &:hover {
    background-image: url('./images/stars_south_hover/centaurus_hover.png');
  }
  &.active {
    background-image: url('./images/stars_south_hover/centaurus_hover.png');
  }
}
.Q_SkyBack1,
.Q_SkyBack2 {
  width: 406px;
  height: 820px;
  border: 0.1px solid var(--border);
  background: var(--background-circle);
}
.Q_SkyBack1 {
  border-radius: 0 1000px 1000px 0;
}
.Q_SkyBack2 {
  border-radius: 1000px 0 0 1000px;
}
//adaptive

@media only screen and (min-width: 1440px) and (max-width: 1728px) {
  .Q_CardsImage {
    width: 313px;
    height: 340px;
  }
  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
}

@media only screen and (min-width: 1194px) and (max-width: 1440px) {
  .Q_CardsImage {
    width: 254px;
    height: 265px;
  }
  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
  .Q_MapStars {
    position: relative;
    width: 100%;
    height: 100%;
    div {
      width: 120px;
      height: 120px;
    }
  }
  .Q_big_dipper {
    left: 200px;
    top: 10px;
  }

  .Q_delphin {
    left: 370px;
    top: 60px;
  }

  .Q_whale_kit {
    background-image: url('./images/stars_north_default/whale_kit.png');
    left: 470px;
    top: 200px;
    &:hover {
      background-image: url('./images/stars_north_hover/whale_kit_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/whale_kit_hover.png');
    }
  }

  .Q_cepheus_cefei {
    background-image: url('./images/stars_north_default/cepheus_cefei.png');
    left: 480px;
    top: 330px;
    &:hover {
      background-image: url('./images/stars_north_hover/cepheus_cefei_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/cepheus_cefei_hover.png');
    }
  }

  .Q_gercules {
    background-image: url('./images/stars_north_default/gercules.png');
    left: 400px;
    top: 440px;
    &:hover {
      background-image: url('./images/stars_north_hover/gercules_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/gercules_hover.png');
    }
  }
  .Q_arrow {
    background-image: url('./images/stars_north_default/arrow.png');
    left: 283px;
    top: 540px;
    &:hover {
      background-image: url('./images/stars_north_hover/arrow_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/arrow_hover.png');
    }
  }
  .Q_eagle {
    background-image: url('./images/stars_north_default/eagle.png');
    left: 150px;
    top: 480px;
    &:hover {
      background-image: url('./images/stars_north_hover/eagle_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/eagle_hover.png');
    }
  }
  .Q_ursa_minor {
    background-image: url('./images/stars_north_default/ursa_minor.png');
    left: 80px;
    top: 387px;
    &:hover {
      background-image: url('./images/stars_north_hover/ursa_minor_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/ursa_minor_hover.png');
    }
  }
  .Q_triangle {
    background-image: url('./images/stars_north_default/triangle.png');
    left: 50px;
    top: 280px;
    &:hover {
      background-image: url('./images/stars_north_hover/triangle_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/triangle_hover.png');
    }
  }
  .Q_north_crown {
    background-image: url('./images/stars_north_default/north_crown.png');
    left: 12px;
    top: 160px;
    rotate: 100deg;
    &:hover {
      background-image: url('./images/stars_north_hover/north_crown_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/north_crown_hover.png');
    }
  }
  .Q_swan {
    background-image: url('./images/stars_north_default/swan.png');
    left: 80px;
    top: 20px;
    rotate: 200deg;
    &:hover {
      background-image: url('./images/stars_north_hover/swan_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/swan_hover.png');
    }
  }
  .Q_ophiuchus_zmeenosec {
    background-image: url('./images/stars_north_default/ophiuchus_zmeenosec.png');
    left: 246px;
    top: 413px;
    &:hover {
      background-image: url('./images/stars_north_hover/ophiuchus_zmeenosec_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/ophiuchus_zmeenosec_hover.png');
    }
  }
  .Q_charioteer_voznichi {
    background-image: url('./images/stars_north_default/charioteer_voznichi.png');
    left: 194px;
    top: 167px;
    &:hover {
      background-image: url('./images/stars_north_hover/charioteer_voznichi_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/charioteer_voznichi_hover.png');
    }
  }
  .Q_cassiopeia {
    background-image: url('./images/stars_north_default/cassiopeia.png');
    left: 203px;
    top: 324px;
    rotate: 330deg;
    &:hover {
      background-image: url('./images/stars_north_hover/cassiopeia_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/cassiopeia_hover.png');
    }
  }
  .Q_dragon {
    background-image: url('./images/stars_north_default/dragon.png');
    left: 363px;
    top: 234px;
    rotate: 314deg;
    &:hover {
      background-image: url('./images/stars_north_hover/dragon_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/dragon_hover.png');
    }
  }
  .Q_lira {
    background-image: url('./images/stars_north_default/lira.png');
    left: 305px;
    top: 173px;
    &:hover {
      background-image: url('./images/stars_north_hover/lira_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/lira_hover.png');
    }
  }
  .Q_andromeda {
    background-image: url('./images/stars_north_default/andromeda.png');
    left: 196px;
    top: 27px;
    width: 120%;
    &:hover {
      background-image: url('./images/stars_north_hover/andromeda_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/andromeda_hover.png');
    }
  }
  .Q_veronicas_hair {
    background-image: url('./images/stars_north_default/veronicas_hair.png');
    left: 230px;
    top: 155px;
    &:hover {
      background-image: url('./images/stars_north_hover/veronicas_hair_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/veronicas_hair_hover.png');
    }
  }
  .Q_perseus {
    background-image: url('./images/stars_north_default/perseus.png');
    left: 394px;
    top: 90px;
    rotate: 323deg;
    &:hover {
      background-image: url('./images/stars_north_hover/perseus_hover.png');
    }
    &.active {
      background-image: url('./images/stars_north_hover/perseus_hover.png');
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1194px) {
  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
  .Q_CardsImage {
    width: 298px;
    height: 323px;
  }
}
@media only screen and (min-width: 1112px) and (max-width: 1194px) {
  .Q_CardsImage {
    width: 240px;
    height: 250px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1112px) {
  .Q_CardsImage {
    width: 298px;
    height: 323px;
  }
}
@media only screen and (min-width: 758px) and (max-width: 1024px) {
  .Q_CardsImage {
    width: 224px;
    height: 225px;
  }
}
@media only screen and (min-device-width: 580px) and (max-device-width: 758px) {
  .Q_TgIcon {
    display: block;
    height: 58px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-image: url('./images/Q_TgIcon.svg');
  }
  .Q_CardsImage {
    width: 272px;
    height: 260px;
  }

  .Q_MenuBar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: var(--white);
    transition: 0.2s;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(2) {
    opacity: 0;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .Q_ZodiakCenter {
    width: 174px;
    height: 166px;

    &.CancerCenter {
      width: 100px;
    }
    &.LeoCenter {
      height: 108px;
      width: 204px;
    }
    &.VirgoCenter {
      height: 124px;
    }
    &.LibraCenter {
      width: 138px;
    }

    &.StrelecCenter {
      width: 150px;
    }
    &.KozerogCenter {
      height: 118px;
    }
    &.VodoleiCenter {
      height: 88px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 156px;
      height: 150px;
    }
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 580px) {
  .Q_CircleGuied {
    width: 20px;
    height: 20px;
  }
  .Q_TgIcon {
    display: block;
    height: 58px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    background-image: url('./images/Q_TgIcon.svg');
  }

  .Q_MenuBar {
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px auto;
    background-color: var(--white);
    transition: 0.2s;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(2) {
    opacity: 0;
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .A_MenuPhoneHambField.active .Q_MenuBar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .Q_CardsImage {
    width: 172px;
    height: 180px;
  }
  .Q_ZodiakCenter {
    width: 130px;
    height: 120px;

    &.CancerCenter {
      width: 70px;
    }
    &.LeoCenter {
      height: 74px;
      width: 144px;
    }
    &.VirgoCenter {
      height: 86px;
    }
    &.LibraCenter {
      width: 98px;
    }

    &.StrelecCenter {
      width: 110px;
    }
    &.KozerogCenter {
      height: 86px;
    }
    &.VodoleiCenter {
      height: 66px;
    }
    &.PiscesCenter {
      margin-left: 30px;
      width: 137px;
      height: 130px;
    }
  }
}
