.W_Article {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: inherit;
  background: var(--background-article);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0.1px solid var(--border);
}

.W_ArticleMainContent {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.W_ZodiakContent {
  display: flex;
  width: 1620px;
  background: var(--background-article);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0.1px solid var(--border);
  z-index: 5;
}

.W_FilterBarSearch {
  width: 1334px;
}

.W_Card {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 390px;
  background: var(--background-article);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0.1px solid var(--border);

  &.active {
    display: block;
  }
  // &:not(.active) {
  //   display: none;
  // }
}

// .W_ArticleMainContent {
//   display: flex;
//   margin-top: 40px;
// }
.W_Map {
  width: 1620px;
  background: var(--background-article);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0.1px solid var(--border);
  margin-top: 150px;
}

.W_MapStarinfo {
  height: 108px;
  border: 0.1px solid var(--border);
  border-radius: 20px 20px 0px 0px;
  // display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  padding: 0 50px;
  display: none;
  &.active {
    display: flex;
  }
}
.W_StartPageCards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    margin: 5px;
  }
}
//adaptive

@media only screen and (min-width: 1440px) and (max-width: 1728px) {
  .W_ZodiakContent {
    width: 1360px;
    height: 604px;
  }
  .W_Map {
    width: 1360px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1728px) {
  .W_ZodiakContent {
    width: 1100px;
  }
  .W_Card {
    width: 313px;
  }
}
@media only screen and (min-width: 1194px) and (max-width: 1440px) {
  .W_ZodiakContent {
    width: 1100px;
    height: 554px;
  }
  .W_Card {
    width: 254px;
  }
  .W_Map {
    width: 1100px;
  }
}

@media only screen and (min-width: 1112px) and (max-width: 1194px) {
  .W_ZodiakContent {
    width: 960px;
    height: 514px;
  }
  .W_Card {
    width: 240px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1112px) {
  .W_ZodiakContent {
    width: 960px;
  }
  .W_ArticleMainContent {
    margin-left: 50px;
  }
  .W_Card {
    width: 298px;
  }
}

@media only screen and (min-width: 758px) and (max-width: 1024px) {
  .W_ZodiakContent {
    width: 728px;
    flex-direction: column;
  }

  .W_Article {
    flex-direction: column;
  }

  .W_ArticleMainContent {
    margin-left: 50px;
  }
  .W_Card {
    width: 224px;
  }
}

@media only screen and (min-device-width: 580px) and (max-device-width: 758px) {
  .W_ZodiakContent {
    width: 560px;
    flex-direction: column;
  }
  .W_Article {
    flex-direction: column;
  }
  .W_ArticleMainContent {
    margin-left: 0px;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 580px) {
  .W_ZodiakContent {
    width: 358px;
    flex-direction: column;
  }
  .W_Article {
    flex-direction: column;
  }
  .W_ArticleMainContent {
    margin-left: 0px;
  }
  .W_Card {
    width: 172px;
  }
}
