.A_MenuSec {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  border-left: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
}
