.A_MenuLog {
  width: 1620px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Base&Bloom Demo', Helvetica, Arial, sans-serif;
  font-size: 32px;
  border-left: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  background-repeat: no-repeat;
  background-position: center;
}
