body.about {
  h1,
  h3 {
    font-size: 55px;
    font-family: 'PTSans', Helvetica, Arial, sans-serif;
    margin-left: 40px;
    margin-top: 60px;
  }
  .about {
    font-size: 16px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  hr {
    margin-left: 40px;
  }
}
