body.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
  }

  p {
    width: 600px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
  }
  p.lead {
    width: 600px;
    margin: 40px auto;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}
