body.article {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // width: 1112px;
}

a {
  color: var(--black);
}

//   & > div,
//   & > a {
//     margin: 10px 0;
//   }
//
//   h1 {
//     font-size: 48px;
//     font-weight: 600;
//   }
//
//   h2 {
//     font-size: 24px;
//     font-weight: 400;
//     margin-top: 32px;
//   }
//
//   p {
//     width: 600px;
//     margin-top: 10px;
//     font-size: 16px;
//     line-height: 1.4;
//   }
//   p.lead {
//     width: 600px;
//     margin: 40px auto;
//     font-size: 30px;
//     font-weight: 700;
//     text-transform: uppercase;
//     text-align: center;
//   }
// }

// .menu {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   margin-top: 40px;
//   justify-content: center;
//   div {
//     padding: 0px 60px 0px 60px;
//   }
// }

.blok {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  div {
    width: 456px;
    margin-top: 120px;
  }
  hr {
    width: 1112px;
  }
  h1 {
    font-size: 64px;
    font-style: italic;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 20px;
  }
  p.lead {
    font-size: 25px;
    font-style: italic;
    margin: 22px 0px 22px;
    width: 340px;
  }
  h1 {
    margin-bottom: 8px;
  }
  p.footnote {
    font-size: 16px;
    margin-top: 90px;
  }
  figcaption {
    font-size: 16px;
    margin-top: 5px;
  }
  button {
    background-color: #faf8f5;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    height: 36px;
    border: 1px solid #000000;
    border-radius: 10px;
    float: right;
  }

  button:hover {
    background: var(--black);
    color: #faf8f5;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 400;
  }
  img.indent {
    margin-top: 190px;
  }
  h2.indent {
    margin-top: 306px;
  }
  p.indent {
    margin-top: 12px;
  }
}

.blok2 {
  margin-left: 200px;
  p.indent {
    margin-top: 360px;
  }
  img {
    margin-top: 120px;
  }
  figcaption {
    margin-bottom: 115px;
  }
}

.blok1 {
  img {
    margin-top: 150px;
  }
  figcaption {
    margin-bottom: 180px;
  }
}

.menu,
.plashka {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
}

.plashka {
  margin-top: 20px;
}

.start {
  margin-right: 470px;
}

.aboutus {
  margin-left: 470px;
}

.legends {
  margin: 0px 100px 0px 100px;
}
