* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #faf8f5;
}

body {
  font-family: 'PTSans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--black);
}
