body.index {
  overflow-x: hidden;
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    width: 540px;
  }

  .lead {
    font-size: 28px;
    font-style: italic;
    width: 432px;
    line-height: 36px;
  }
  button {
    margin-left: 56px;
    margin-top: 32px;
    font-size: 18px;
    color: black;
    width: 260px;
    height: 36px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #faf8f5;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    background-color: black;
    color: #faf8f5;
    transition: 0.5s;
  }
}

.section1 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .headings {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .lines {
    width: 100%;
    height: auto;
    position: absolute;
    top: 16%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border: none;
    }
  }
  .arrow {
    width: 1%;
    height: auto;
    margin-top: 42%;
    margin-left: 877px;
    img {
      max-width: 100%;
      height: auto;
      display: block;
      transform: translate3d(0, -50%, 0);
      animation: spin 1.4s infinite linear;
    }

    @keyframes spin {
      0% {
        transform: translate3d(0, -50%, 0);
      }
      50% {
        transform: translate3d(0, 50%, 0);
      }
      100% {
        transform: translate3d(0, -50%, 0);
      }
    }
  }
  h1 {
    font-size: 62px;
    color: #faf8f5;
  }
  h2 {
    font-size: 40px;
    color: #faf8f5;
  }
  .img1 {
    display: flex;
  }
  .img2 {
    display: none;
  }
  .img3 {
    display: none;
  }
}

.section2 {
  background-color: #faf8f5;
  height: 840px;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .textmain {
    display: flex;
    flex-direction: column;
    h2 {
      width: 540px;
    }
    div {
      width: 596px;
      margin-top: 32px;
    }
    p {
      margin-left: 56px;
      .lead {
        width: 428px;
        color: black;
      }
    }
  }
  .imgstar {
    margin-left: 132px;
    img {
      width: 540px;
    }
  }
}

.section3 {
  background-color: #faf8f5;
  height: 620px;
  width: 100%;
  margin-top: -2px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .about,
  .aboutN {
    display: flex;
    flex-direction: column;
    div {
      width: 540px;
    }
    .lead {
      margin-top: 32px;
    }
    p {
      margin-left: 56px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      .buttonsecond {
        margin-left: 20px;
      }
    }
    .texttop {
      margin-top: 12px;
    }
  }
  .imgLiza {
    margin-top: 80px;
    margin-left: 132px;
    img {
      width: 540px;
    }
  }
  .imgNastya {
    margin-top: 50px;
    margin-left: 56px;
    img {
      width: 540px;
    }
  }
  .aboutN {
    margin-left: 76px;
  }
}

.section4 {
  color: #faf8f5;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  p {
    margin-left: 56px;
  }
  .text {
    margin-top: 42px;
  }
  .forma {
    width: 540px;
    margin-top: 42px;

    #form-status {
      font-size: 24px;
      margin-top: 12px;
    }

    input {
      background-color: black;
      color: #faf8f5;
      text-align: center;
      text-decoration: none;
      text-decoration-color: #faf8f5;
      font-size: 18px;
      width: 540px;
      height: 36px;
      border: 1px solid #faf8f5;
      border-radius: 10px;
      margin-left: 56px;
    }
    button {
      margin-top: 20px;
      color: #faf8f5;
      border: 1px solid #faf8f5;
      background-color: black;
      transition: 0.5s;
    }
    button:hover {
      color: black;
      border: 1px solid #faf8f5;
      background-color: #faf8f5;
      transition: 0.5s;
    }
  }
  .imgstars {
    margin-left: 132px;
    img {
      width: 480px;
      height: 100%;
    }
  }
}
