body.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }

  h1 {
    font-size: 48px;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
  }
}
